@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#f5fef7] text-black font-jetbrains antialiased;
  margin: 0;
  padding: 0;
}

code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  @apply text-blue-600;
}
